*{
    padding: 0;margin: 0;box-sizing: border-box;text-decoration: none;
    scroll-behavior: smooth;font-family: sans-serif;
}
header{
   max-width:  100vw; background-color: rgb(79, 40, 45);color: rgb(242, 238, 232);padding: 4%;
   position: fixed; top: 0; right: 0;left: 0;font-size:larger;
}
.logo{
    width: 30%;}
nav{
width: 59%;
}
.icons{
    width: 10%;padding-right: 0;
}
.logo, .icons ,nav{
    display: inline-block;font-size: large;
}
a{
    color: aliceblue;padding: 10px;
}
h1,p{
    padding: 10px;
}
.head{
    padding-top: 140px;
}


/* custum css make-up */

.make-up{
    max-width: 1350px;min-height: 650px;background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwRzc-YII4QkqKi9QZWzYR9sz6-wqVqwmvmdlLOPRrmg&s);
    background-repeat: no-repeat;background-position: center;background-size: cover;position: relative;overflow: auto;
display: flex;flex-flow:row wrap ;margin: 0 auto;
animation-name: spin ; 
animation-duration: 2s;
animation-iteration-count: 2;
animation-direction:initial;
border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
     transform: rotate(360deg);
  }
}

.make-up .head0{
    position: absolute;top: 15%;left: 30%;;color: rgb(58, 49, 56);display: inline-block;

}

.make-up .head-1{
    position: absolute;top: 30%; left: 30%; display:  inline-block;color: blue;
}
.make-up .head-2{
   position: absolute; left: 30%;top: 45%;background-color: rgb(48, 48, 116);z-index: 1;width: 80px;height: 80px;
   border-radius: 50%;
}
.make-up .head-3{
   position: absolute; left: 34%;top: 45%;background-color: rgb(29, 11, 184);z-index: 2;width: 80px;height: 80px;
   border-radius: 50%;
}
.make-up .head-4{
   position: absolute; left: 38%;top: 45%;background-color: rgb(36, 36, 238);z-index: 3;width: 80px;height: 80px;
   border-radius: 50%;
}
.make-up .head-5{
   position: absolute; left: 42%;top: 45%;background-color: rgb(125, 112, 245);z-index: 4;width: 80px;height: 80px;
   border-radius: 50%;
}
.make-up .head-6{
   position: absolute; left: 46%;top: 45%;background-color: rgb(160, 155, 207);z-index: 5;width: 80px;height: 80px;
   border-radius: 50%;
}
.PUR{    position: absolute;top: 70%;left: 30%;color: rgb(136, 17, 110);}

.pur1{
   position: absolute; left: 30%;top: 85%;background-color: rgb(61, 4, 56);z-index: 1;width: 80px;height: 80px;
   border-radius: 50%;

}
.pur2{
       position: absolute; left: 34%;top: 85%;background-color: rgb(110, 13, 119);z-index: 2;width: 80px;height: 80px;
   border-radius: 50%;

}
.pur3{   position: absolute; left: 38%;top: 85%;background-color: rgb(185, 13, 177);z-index: 3;width: 80px;height: 80px;
   border-radius: 50%;
}
.pur4{
       position: absolute; left: 42%;top: 85%;background-color: rgb(238, 43, 222);z-index: 4;width: 80px;height: 80px;
   border-radius: 50%;
}
.pur5{
   position: absolute; left: 46%;top: 85%;background-color: rgb(223, 166, 219);z-index: 5;width: 80px;height: 80px;
   border-radius: 50%;
}
.green1{
  position: absolute;top: 110%;left: 30%;color: rgb(27, 70, 34);   
}
.green2{
       position: absolute; left: 30%;top: 125%;background-color: rgb(14, 73, 12);z-index: 1;width: 80px;height: 80px;
   border-radius: 50%;

}
.green3{
       position: absolute; left: 34%;top: 125%;background-color: rgb(9, 116, 5);z-index: 2;width: 80px;height: 80px;
   border-radius: 50%;

}.green4{
       position: absolute; left: 38%;top: 125%;background-color: rgb(52, 182, 48);z-index: 3;width: 80px;height: 80px;
   border-radius: 50%;

}.green5{
       position: absolute; left: 42%;top: 125%;background-color: rgb(132, 204, 129);z-index: 4;width: 80px;height: 80px;
   border-radius: 50%;

}.green6{
       position: absolute; left: 46%;top: 125%;background-color: rgb(52, 245, 45);z-index: 5;width: 80px;height: 80px;
   border-radius: 50%;

}
.red1{
  position: absolute;top: 150%;left: 30%;color: rgb(139, 64, 64);   
}
.red2{
       position: absolute; left: 30%;top: 170%;background-color: rgb(117, 39, 59);z-index: 1;width: 80px;height: 80px;
   border-radius: 50%;}
.red3{
       position: absolute; left: 34%;top: 170%;background-color: rgba(224, 108, 54, 0.795);z-index: 2;width: 80px;height: 80px;
   border-radius: 50%;}
.red4{
       position: absolute; left: 38%;top: 170%;background-color: rgba(192, 84, 125, 0.911);z-index: 3;width: 80px;height: 80px;
   border-radius: 50%;}
.red5{
       position: absolute; left: 42%;top: 170%;background-color: rgb(224, 63, 103);z-index: 4;width: 80px;height: 80px;
   border-radius: 50%;}
.red6{
       position: absolute; left: 46%;top: 170%;background-color: rgb(226, 28, 77);z-index: 5;width: 80px;height: 80px;
   border-radius: 50%;}
.black1{
  position: absolute;top: 195%;left: 30%;color: rgb(11, 12, 11);   
}
.black2{
       position: absolute; left: 30%;top:215%;background-color: black;z-index: 1;width: 80px;height: 80px;
   border-radius: 50%;}
.black3{
       position: absolute; left: 34%;top: 215%;background-color: rgb(48, 42, 42);z-index: 2;width: 80px;height: 80px;
   border-radius: 50%;}
.black4{
       position: absolute; left: 38%;top: 215%;background-color: rgba(61, 59, 59, 0.911);z-index: 3;width: 80px;height: 80px;
   border-radius: 50%;}
.black5{
       position: absolute; left: 42%;top: 215%;background-color: rgb(80, 79, 79);z-index: 4;width: 80px;height: 80px;
   border-radius: 50%;}
.black6{
       position: absolute; left: 46%;top: 215%;background-color: rgb(92, 91, 91);z-index: 5;width: 80px;height: 80px;
   border-radius: 50%;}
   @media(min-width:1350px;){
.make-up {width: 90%; }
}
@media(min-width:835px;)
{.make-up {width: 90%;}
}
@media(max-width:430px;)
{.make-up {width: 90%;}
}


/* index.html */
.index{
    width: 300px;height: 300px;
    padding-top: 10%;
}