*{
    padding: 0;margin: 0;box-sizing: border-box;text-decoration: none;
    scroll-behavior: smooth;
}
header{
   max-width:  100vw; background-color: rgb(79, 40, 45);color: rgb(242, 238, 232);padding: 4%;
   position: fixed; top: 0; right: 0;left: 0;font-size:larger;
}
.logo{
    width: 30%;}
nav{
width: 59%;
}
.icons{
    width: 10%;padding-right: 0;
}
.logo, .icons ,nav{
    display: inline-block;font-size: large;
}
a{
    color: aliceblue;padding: 10px;
}
h1,p{
    padding: 10px;
}
.head{
    padding-top: 140px;
}